h1 {
  text-align: center;
  color: white;
}

h2 {
  color: black;
}

.btn {
  margin-bottom: 8px;
}

input {
  margin-left: 25px;
}

.card-body {
  background-color: whitesmoke;
}

.daily {
  border-radius: 5px;
  margin: 5px;
  padding: 20px;
  color: white;
}

.history-btn {
  margin: 1rem 0 1rem 0;
}

.uv-btn {
  color: white;
}

.li-btn {
  height: 100px;
}
